html {
    font-family: sans-serif;
}

img {
    max-width: 30px;
}

li {
    position: relative;
}

span {
    position: absolute;
    right: 280px;
}

#content-base {
    margin: 12px;
}

#close-button {
    margin-right: 4px;
    float: right;
}

#form-register {
    padding: 8px;
    font-family: sans-serif;
}

#todos-list {
    margin-top: 32px;
}

.titles-form {
    margin-left: 76px;
    margin-top: 32px;
}

.welcome-info {
    padding: 8px;
}

#btn-delete {
    position: relative;
    background-color: white;
    border: 0cap;
}

#btn-update {
    position: absolute;
    right: 120px;
    background-color: white;
    border: 0cap;
}

