html {
    font-family: sans-serif;
}

img {
    max-width: 30px;
}

#close-button {
    margin-right: 4px;
    float: right;
}

#form-register {
    padding: 8px;
    font-family: sans-serif;
}

.titles-form {
    margin-left: 76px;
    margin-top: 16px;
}
