<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>
                {% block title %}
                    My Flask App - 
                {% endblock %}
            </title>
            <link rel="icon" href="{{ url_for('static', filename='images/my_logo.png') }}" />

            {% block styles %}
                {{ bootstrap.load_css() }}
                <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block navbar %}
                {% include "navbar.html" %}
            {% endblock %}

            <!-- Bloque que renderiza en todas mis URL, por la herencia, los flashes -->
            {% block flash %}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success alert-dismissible">
                                {{ message }}
                                <button id="close-button"
                                        type="button" 
                                        data-bs-dismiss="alert" 
                                        class="close">&times;</button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            {% endblock  %}

            {% block content %}
            {% endblock %}

            {% block scripts %}
                {{ bootstrap.load_js() }}
            {% endblock %}
        {% endblock %}
    </body>
</html>