<!-- Herencia de templates -->
{% extends 'base.html' %}
<!-- Import de macros para un render mas efectivo -->
<!-- {% import 'macros.html' as macros %} -->
<!-- Import de bootstrap a wtf para renderiar el form mas facil -->
<!-- {% from 'bootstrap4/form.html' import render_form %} -->

{% block title %}
    {{ super() }}
    Bienvenido
{% endblock title %}

{% block content %}
    <!-- Condicionales en template HTML -->
    {% if username %}
        <!-- Con "|" puedo aplicar capitalize u otro filtro/metodo a mis variables traidas desde Python -->
        <h1>Bienvenido {{  username | capitalize }}</h1>
    {% endif %}
    {% if user_ip %}
        <h3>Hello World, tu Ip es {{user_ip}} </h3>
    {% else %}
        <a href="{{ url_for('index') }}">Ir a inicio</a>
    {% endif %}

    <!-- Ciclo for en template HTML -->
    <ul> 
        {% for todo in todos %} 
            {{ macros.render_todo(todo.to_dict) }} 
        {% endfor %}    
    </ul> 
{% endblock content %}




